*{
    background: #cb3234;
    font-family: 'kanit';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

.logo{
    padding-top: 10px;
    margin-left: 400px;
    width: 12%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;

}

.text-area{
    border: none;
    color: white;
    margin-top: 90px;
    text-transform: lowercase;
    margin-left: 100px;

}

::placeholder   { color: white;}
    .text-area:focus{
        outline: none;
    }

.informacion{
    color: white;
    font-size: 18px;
}

.mensaje{
    height: 630px;
    background: white;
    background-image: url("imagenes/escudosantafe.png") ;
    background-repeat: no-repeat;
    background-position: center;
    border: black;
    border-radius: 24px;
    color: red;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    font-weight: bold;
    
 
}

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar  {
    background: black;
    border: 1px solid white;
    border-radius: 35px;
    color: #cb3234;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;

}

.btn-encriptar{
    background-color: black;
    border: 1px solid white;
    border-radius: 35px;
    color: #cb3234;
    cursor: pointer;
    height: 67px;
    width: 328px;

}

.btn-copiar{
    background-color: red;
    border: 1px solid black;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    position: absolute;
    margin-top: 580px;
    margin-left: 200px;

}




